*{
    margin:0;
    padding: 0;
    background-color: rgb(32, 32, 32);
    color: #ccc;
}
body{
    overflow-x:hidden;
}
.container{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}
.input-container{
    margin: 50px 0 0 0;
}
.output{
    width: 33.8vw;
    word-wrap: break-word;
    margin-top: 20px;	
}
input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Hover State */
input:hover {
    border-color: #3498db;
}

/* Focus State */
input:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}
.btn{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #fff;
    background-color: #3498db;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover State */
.styled-button:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

/* Active State (when clicked) */
.styled-button:active {
    background-color: #1f618d;
    border-color: #1f618d;
}
